/*Ross Marinaro Website*/


#wrapper{
	
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	
}
#body{
	width:100%;
	position:relative;
}




.gif-container{
    top: 2000px;
	max-width: 50%;
	position: relative;
	margin: 0 auto;
	padding: 50 50;
	box-sizing: border-box;
display: block;
justify-content: center;
 



}
.giphy{
	
	width: 25%;
	display: inline-block;
	padding: 30px;
	
}

.giphy img{
	
	width: 100%;
	
	
}

body{
    background-image:url(.png);
	background-color: black;
	background-size: cover;

	
	
}


html, body{
	width:100%;
	position: stretch;
	
}

	






